<% if mgmt_token_alive? %>
  Logged into management API through M2M application
  <br>
  <br>
  <h2>Organizations</h2>
  <div>
    <% @client.organizations.get_organizations.organizations.each do |org| %>
      <p><%= print_organization(org) %></p>
    <% end %>
  </div>
  <h2>Create new</h2>
  <div>
    <%= form_with url: "/mgmt_create_organization", method: :post do |form| %>
      <%= form.text_field :name, placeholder: "name" %>
      <br>
      <%= form.submit "Create" %>
    <% end %>
  </div>
  <br>
  <hr>
  <h2>Users</h2>
  <div>
    <% @client.users.get_users.users.each do |user| %>
      <p><%= print_user(user) %></p>
    <% end %>
  </div>
  <h2>Create new</h2>
  <div>
    <%= form_with url: "/mgmt_create_user", method: :post do |form| %>
      <%= form.text_field :name, placeholder: "name" %>
      <br>
      <%= form.text_field :surname, placeholder: "surname" %>
      <br>
      <%= form.text_field :email, placeholder: "email" %>
      <%= form.submit "Create" %>
    <% end %>
  </div>
<% else %>
  <a class="button is-primary" href="<%= kinde_sdk.client_credentials_auth_path %>">
    <strong>Log in M2M</strong>
  </a>
<% end %>
