<!DOCTYPE html>
<html>
<head>
  <title>KindeExampleApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
   <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/mgmt">Management API</a>
      <% if logged_in? %>
        <a class="navbar-item" href="/test/refresh_token">Test Refresh Token</a>
        <a class="navbar-item" href="/test/token_expired">Check Token Expired</a>
        <a class="navbar-item" href="/test/client">Test Client</a>
        <div class="navbar-item">
          <form action="/test/get_claim/" method="get" class="field has-addons">
            <div class="control">
              <input class="input" type="text" name="claim" placeholder="Enter claim name">
            </div>
            <div class="control">
              <button class="button is-primary" type="submit">Get Claim</button>
            </div>
          </form>
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
      <div class="buttons">
        <% if logged_in? %>
        <a class="button is-primary" href="<%= kinde_sdk.logout_path %>">
          <strong>Logout</strong>
        </a>
        <% else %>
        <a class="button is-primary" href="/kinde_sdk/auth">
          <strong>Log in</strong>
        </a>
        <% end %>
      </div>
      </div>
    </div>
   </div>
  </nav>
  <section class="section">
    <%= render 'shared/flashes' %>

    <div class="content">
    <%= yield %>
    </div>
  </section>
  </body>
  </html>
